body {
  justify-content: center;
  background-color: #49CAE7;
  background-image: url('./images/backMorpion.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 48px;
    cursor: pointer;
    color: brown;
  }
  
  header {
    display: flex;
    justify-content: center;
  }

  .choice {
    text-align: center;
  }

  h3 {
    padding-top: 20px;
    color: red;
    font-size: xx-large;
  }

  @media (max-width: 1100px) {
    body{
      background-position: center 70px;
    }
    td {
      width: 80px;
    height: 80px;
    }
  }

  @media (max-width: 600px) {
    header {
      height: 180px;
      margin-left: 40px;
    }
    body {
      background-position: center 200px;
    }
    td {
      width: 60px;
    height: 60px;
    }

  }

  @media (max-width: 500px){
    body {
      height: 100%;
    }
    td {
      width: 40px;
      height: 40px;
    }
  }
  