body {
  height: 100vh;
  justify-content: center;
  background-image: url('./images/backMorpion.jpg');
  background-size: contain;
  background-position: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 48px;
    cursor: pointer;
    color: brown;
  }
  
  header {
    display: flex;
    justify-content: center;
  }

  .choice {
    text-align: center;
  }

  h3 {
    padding-top: 20px;
    color: red;
    font-size: xx-large;
  }

  @media (max-width: 600px){
    header {
      height: 110px;
      justify-content: flex-start;
      margin-left: 40px;
    }
    main  {
      align-items: flex-start;
      margin-left: 40px;
    }
    td {
      width: 60px;
    height: 60px;
    }
  }
  